body{
    font-family: sans-serif;
}
.keyVisual{
    text-align: center;
}
.headerInner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
    border-collapse: collapse;
    border: 1px solid black;
}
.priceWrapper th,
.priceWrapper td{
    padding: 7px;
}
.priceWrapper table{
    width: 100%;
}
.priceWrapper th{
    width: 150px;
    background: #eee;
}
footer{
    background: #eeeeee;
}
.footerInner{
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}
.headerInner,.mainInner{
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
}
h2{   background-image: url("niconico_bg_blue.png");
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
}